
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #4A4A4A;
  font-family: 'CircularBook';
}

section {

}

h1 {
  font-size: 30px;
  font-family: 'CircularBold';
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:active {
  color: #9B9B9B;
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

.divider {
  border-bottom: 1px solid #DFDFDF;
  padding: 40px 0;
}

.col-sm-3 {
  color: #333333;
  position: relative;
}

.profile-pic {
  height: 196px;
  width: 196px;
  overflow: hidden;
  border-radius: 100px;
  position: relative;
  float: right;
}

.profile-pic img {
  width: 100%;
  display: block;
  position: absolute;
  top: calc(-50%/4);
}

svg {
  overflow: hidden; // Hide the overflow in IE
  vertical-align: initial;
}

#personal-info {
  position: relative;
}

#personal-info .info {
  float: left;
  margin-top: 45px;
}

#personal-info .actions {
  position: absolute;
  right: 0;
  top: 40px;
}

#personal-info h1,
#personal-info p {
  margin: 0;
}

#personal-info p:nth-child(3) {
  color: #9B9B9B;
}

#experience small {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #ECECEC;
  width: fit-content;
  border-radius: 50px;
  padding: 2px 11px;
}

#experience h1 {
  color: #333333;
  font-size: 18px;
  font-family: 'CircularBold';
  margin-bottom: 3px;
}

#experience h2 {
  color: #9B9B9B;
  font-size: 16px;
  margin-bottom: 30px;
}

#experience p {
  font-size: 17px;
  line-height: 1.7em;
}

#experience div section:first-child {
  margin: 0;
  border-bottom: 1px solid #DFDFDF;
  padding: 10px 0;
}

#experience section {
  margin: 30px 0;
}

#experience .divider {
  border-bottom: 1px solid #DFDFDF;
  padding: 10px 0;
}

#experience .divider:last-child {
  border-bottom: none;
  padding: 0;
}

#contact p {
  margin: 0;
}

#contact p:nth-child(2) {
  color: #9B9B9B;
}

#contact .row {
  margin-bottom: 0;
}

#contact .row:nth-child(2) {
  margin-top: 35px;
}

#summary p {
  font-size: 25px;
}

/*  */


@font-face {
  font-family: CircularBook;
  src: url(../fonts/circularstd-book-webfont.woff);
}


@font-face {
  font-family: CircularBold;
  src: url(../fonts/circularstd-bold-webfont.woff);
}



    /* Responsiveness */

    /* Extra Small Devices, Phones */

    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {

      .profile-pic {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      #personal-info .info {
        margin-top: 220px;
        width: 100%;
        text-align: center;
      }

      #summary .col-sm-3,
      #experience .col-sm-3 {
        color: #999999;
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.5em;
      }

      #contact .col-sm-3 {
        color: #999999;
        width: 100%;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.5em;
        text-align: center;
        margin-bottom: 21px;
      }

      #contact .col-3 {
        text-align: center;
        max-width: 90%;
        flex: 0 0 100%;
        margin: 5px 0;
        background: #000;
        padding: 15px 0;
        margin-left: 5%;
        border-radius: 100px;
        color: #ffffff;
        font-weight: bold;
      }


      #contact .col-3 p:first-child {
        display: none;
      }

      #contact .col-3 p:nth-child(2) a,
      #contact .col-3 p:nth-child(2)  {
        color: #ffffff;
      }

      #personal-info {
        padding-bottom: 0px;
      }

      #personal-info .actions {
        left: 50%;
        position: relative;
        top: 0;
        margin: 20px 0;
        display: block;
        float: left;
        transform: translateX(-50%);
      }

    }

    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px) {

      .profile-pic {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      #personal-info .info {
        margin-top: 220px;
        width: 100%;
        text-align: center;
      }

      #summary .col-sm-3,
      #experience .col-sm-3 {
        color: #999999;
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.5em;
      }

      #contact .col-sm-3 {
        color: #999999;
        width: 100%;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.5em;
        text-align: center;
        margin-bottom: 21px;
      }

      #contact .col-3 {
        text-align: center;
        max-width: 90%;
        flex: 0 0 100%;
        margin: 5px 0;
        background: #000;
        padding: 15px 0;
        margin-left: 5%;
        border-radius: 100px;
        color: #ffffff;
        font-weight: bold;
      }


      #contact .col-3 p:first-child {
        display: none;
      }

      #contact .col-3 p:nth-child(2) a,
      #contact .col-3 p:nth-child(2)  {
        color: #ffffff;
      }

      #personal-info {
        padding-bottom: 0px;
      }

      #personal-info .actions {
        left: 50%;
        position: relative;
        top: 0;
        margin: 20px 0;
        display: block;
        float: left;
        transform: translateX(-50%);
      }

      }}
